<div class="container">

  <h1>{{title}}</h1>

  <div class="forms-container">

    <div class="form-container first-form-container">
      <form action="" [formGroup]="priceCalculator" (ngSubmit)="calculatePrice()">
      
        <div class="price-calculator-container">
          <div class="calculator-title">
            <h2>Tenés la medida..</h2>
            <h3>No sabés cuánto vale</h3>
          </div>

          <div class="group-container">
            <label for="unit">Unidad de medida:</label>
            <input
              id="unit"
              name="unit"
              type="text"
              formControlName="firstUnit"
              (keyup)="writeUnit()"
            />
          </div>

          <div class="group-container">
            <label for="first-base-weight">Peso original:</label>
            <input
              [class.invalid]="priceCalculator.get('firstBaseWeight')?.touched && priceCalculator.get('firstBaseWeight')?.invalid"
              type="number"
              name="first-base-weight"
              id="first-base-weight"
              formControlName="firstBaseWeight"
            >
            {{ finalFirstUnit }}
          </div>

          <div class="group-container">
            <label for="first-base-price">Precio original:</label>
            <span style="margin-right: 10px;">$</span>
            <input
              [class.invalid]="priceCalculator.get('firstBasePrice')?.touched && priceCalculator.get('firstBasePrice')?.invalid"
              type="number"
              name="first-base-price"
              id="first-base-price"
              formControlName="firstBasePrice"
            >
          </div>

          <div class="group-container">
            <label for="first-current-weight">Cuánto peso desea el cliente?:</label>
            <input
              [class.invalid]="priceCalculator.get('firstCurrentWeight')?.touched && priceCalculator.get('firstCurrentWeight')?.invalid"
              type="number"
              name="first-current-weight"
              id="first-current-weight"
              formControlName="firstCurrentWeight"
            >
            {{ finalFirstUnit }}
          </div>

        </div>
        <button type="submit" class="button-price">
          Calcular
          <br>
          Precio
        </button>

      </form>

      <hr style="margin-bottom:60px; width: 90%;">

      <div class="price-result result">
        <span>Precio FINAL:</span>
        <div>{{finalPrice | currency: 'USD'}}</div>
      </div>
    </div>

    <div class="form-container second-form-container">
      <form action="" [formGroup]="weightCalculator" (ngSubmit)="calculateWeight()">
      
        <div class="weight-calculator-container">
          <div class="calculator-title">
            <h2>Trajeron dinero..</h2>
            <h3>Necesitás calcular cuánta cantidad</h3>
          </div>

          <div class="group-container">
            <label for="unit">Unidad de medida:</label>
            <input
              id="unit"
              name="unit"
              type="text"
              formControlName="secondUnit"
            />
          </div>

          <div class="group-container">
            <label for="second-base-price">Precio original:</label>
            <span style="margin-right: 10px;">$</span>
            <input
              [class.invalid]="weightCalculator.get('secondBasePrice')?.touched && priceCalculator.get('secondBasePrice')?.invalid"
              type="number"
              name="second-base-price"
              id="second-base-price"
              formControlName="secondBasePrice"
            >
          </div>

          <div class="group-container">
            <label for="second-base-weight">Peso original:</label>
            <input
              [class.invalid]="weightCalculator.get('secondBaseWeight')?.touched && priceCalculator.get('secondBaseWeight')?.invalid"
              type="number"
              name="second-base-weight"
              id="second-base-weight"
              formControlName="secondBaseWeight"
            >
          </div>

          <div class="group-container">
            <label for="second-current-price">Cuánto dinero trajo el cliente?</label>
            <span style="margin-right: 10px;">$</span>
            <input
              type="number"
              name="second-current-price"
              id="second-current-price"
              formControlName="secondCurrentPrice"
            >
          </div>

        </div>
        <button type="submit" class="button-weight">
          Calcular
          <br>
          Medida
        </button>
      
      </form>

      <hr style="margin-bottom: 60px; width: 90%; border:none; background-color: black; height: 2px;">

      <div class="weight-result result">
        <span>Medida FINAL:</span>
        <div>{{ finalWeight | number: '1.2-2'}} {{ finalSecondUnit }}</div>
      </div>
    </div>

  </div>

</div>
